@import '/colors.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #333; 
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; 
}

.navbar {
    background-color: #00AC4F; 
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_btn {
    align-items: right; 
    border: none;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    padding: 1rem;
    text-decoration: none;
    width: 8rem;
}

.logo img {
    height: 100x;  
    width: 100px;   
}
@media (min-width: 769px) {
    .logo img {
        height: 100px;  
    }
}

.menu-burger {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.title {
    font-size: 1.8em; 
    color: #00AC4F; 
    text-align: center;
}

.subtitle {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}


.card {
    background-color: #fff; 
    border: 1px solid #00AC4F; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 80%; 
}

.card h3 {
    color: #00AC4F;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.cta-button {
    background-color: #00AC4F; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; 
}

.cta-button:hover {
    background-color: #008c3f; 
}


.footer {
    background-color: #00AC4F; 
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}

.social-links {
    margin-bottom: 5px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}


@media (min-width: 769px) {
    .navbar {
        padding: 20px;
    }
    
    .logo {
        font-size: 2em;
    }
    
    .menu-burger {
        font-size: 2em;
    }
    
    .title {
        font-size: 3em; 
    }
    
    .subtitle {
        font-size: 1.5em;
    }
    
    .card {
        max-width: 50%; 
        padding: 30px;
    }
    
    .cta-button {
        font-size: 1.2em;
    }
}

.fa-brands-fa-telegram {
    font-size: 50px;
}

.fa-brands-fa-discord {
    font-size: 50px;
}

.fa-brands-fa-bluesky {
    font-size: 50px;
}